body {
  background-color: rgb(230, 215, 255);
  font-family: monospace;
  font-size: 20px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: rgb(255, 255, 255, 0.6);
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

select {
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(111, 76, 168);
  margin-bottom: 30px;
  width: 100%;
}

.preset-wrapper {
  margin-top: -35px;
}
.preset-cities {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px 0;
  border-bottom: 1px dashed grey;
}

.preset-cities:last-child {
  border: none;
}

h2 {
  margin: 0;
  font-size: 26px;
}
.date {
  opacity: 0.7;
  font-size: 18px;
}

.time small {
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: smaller;
}
